.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.navbar a::before {
  content: "";
  position:absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

