@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 4px 3px 25px rgba(0,0,0,1);
}

body {
  min-height: 100vh;
  background: url('../images/canyon-space-background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0;
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.navbar a::before {
  content: "";
  position:absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.calculator-container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.display {
  height: 80px;
  width: 100%;
  outline: none;
  border: none;
  /* text-align: right; */
  margin-bottom: 10px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #eee;
  font-weight: 600;
  cursor: pointer;
}

.buttons button:active {
  transform: scale(0.9);
}

.number-buttons {
  font-size: 20px;
}
.operator {
  color: #2f9fff;
  font-size: 25px;
  font-weight: 500;
}

.misc-buttons {
  font-size:10px;
  font-weight: 700;
}

#equal {
  grid-column: span 2;
}

.card-container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}